<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>Medico</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />

      <!-- Main CSS -->
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}" />
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
      <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/fontawesome.min.css' %}" />
      <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css' %}" />
   </head>
   <body>
      <div class="main-wrapper">
         <!-- Header -->
         <header class="header">
            <nav class="navbar navbar-expand-lg header-nav">
               <div class="navbar-header">
                  <a href="index-2.html" class="navbar-brand logo">
                     <img src="https://user-images.githubusercontent.com/43414928/218250634-e8458cfe-03a2-4769-811a-986dc4b2475a.png" class="img-fluid logo-img" alt="Logo" />
                  </a>
               </div>
               <div class="main-menu-wrapper">
                  <ul class="main-nav">
                     <li class="active">
                        <a href="index-2.html">Home</a>
                     </li>

                     <li class="has-submenu">
                        <a href="#">Dashboard</a>
                     </li>
                     <li class="has-submenu">
                        <a href="#">History</a>
                     </li>
                     <li class="has-submenu">
                        <a href="#">Prescriptions</a>
                     </li>
                     <li class="has-submenu">
                        <a href="#">Invoices</a>
                     </li>
                  </ul>
               </div>
               <ul class="nav header-navbar-rht">
                  <li class="nav-item contact-item">
                     <div class="header-contact-img">
                        <i class="far fa-hospital"></i>
                     </div>
                     <div class="header-contact-detail">
                        <p class="contact-header">Contact</p>
                        <p class="contact-info-header">+91 91873372</p>
                     </div>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link header-login" href="login.html">Logout </a>
                  </li>
               </ul>
            </nav>
         </header>
         <!-- /Header -->

         {% block content %} {% endblock %}

         <!-- Footer -->
         <footer class="footer">
            <!-- Footer Top -->
            <div class="footer-top">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-lg-3 col-md-6">
                        <!-- Footer Widget -->
                        <div class="footer-widget footer-about">
                           <div class="footer-about-content">
                              <p>Making healthcare more accessible and affordable for everyone</p>
                              <div class="social-icon">
                                 <ul>
                                    <li>
                                       <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                    </li>
                                    <li>
                                       <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                    </li>
                                    <li>
                                       <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li>
                                       <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                       <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <!-- /Footer Widget -->
                     </div>

                     <div class="col-lg-3 col-md-6">
                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                           <h2 class="footer-title">For Patients</h2>
                           <ul>
                              <li>
                                 <a href="search.html"><i class="fas fa-angle-double-right"></i> Search for Doctors</a>
                              </li>

                              <li>
                                 <a href="booking.html"><i class="fas fa-angle-double-right"></i> Booking</a>
                              </li>
                              <li>
                                 <a href="patient-dashboard.html"><i class="fas fa-angle-double-right"></i> Patient Dashboard</a>
                              </li>
                           </ul>
                        </div>
                        <!-- /Footer Widget -->
                     </div>

                     <div class="col-lg-3 col-md-6">
                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                           <h2 class="footer-title">For Doctors</h2>
                           <ul>
                              <li>
                                 <a href="appointments.html"><i class="fas fa-angle-double-right"></i> Appointments</a>
                              </li>
                              <li>
                                 <a href="chat.html"><i class="fas fa-angle-double-right"></i> Chat</a>
                              </li>

                              <li>
                                 <a href="doctor-dashboard.html"><i class="fas fa-angle-double-right"></i> Doctor Dashboard</a>
                              </li>
                           </ul>
                        </div>
                        <!-- /Footer Widget -->
                     </div>

                     <div class="col-lg-3 col-md-6">
                        <!-- Footer Widget -->
                        <div class="footer-widget footer-contact">
                           <h2 class="footer-title">Contact Us</h2>
                           <div class="footer-contact-info">
                              <p>
                                 <i class="fas fa-phone-alt"></i>
                                 +91 91873372
                              </p>
                              <p class="mb-0">
                                 <i class="fas fa-envelope"></i>
                                 medico@gmail.com
                              </p>
                           </div>
                        </div>
                        <!-- /Footer Widget -->
                     </div>
                  </div>
               </div>
            </div>
            <!-- /Footer Top -->
         </footer>
         <!-- /Footer -->
      </div>
   </body>
</html>
